{% extends "base.html" %} {% from "components/card_info.html" import card_info
with context %}
{% block head %}<title>hello page</title>{% endblock %}
{% block
    body %}
    <div class="flex">
        {{ card_info("Welcome", name) }} {{ card_info("We see you", name) }} {{ card_info("Hello", name) }}
    </div>
    <div class="mt-8 ml-2">
        <input class="calendar input input-bordered"
               type="text"
               placeholder="Select Date..">
        <script>
            $(".calendar").flatpickr({
                enableTime: true
            });
            $(".calendar").on("change", function(e) {
                console.log(e.target.value);
            });
        </script>
    </div>
    <div>
        <div id="loader"
             class="loading loading-infinity loading-lg ml-2 mt-4 hidden"></div>
        <button class="btn btn-primary ml-2 mt-4" onclick="loaderTesting()">Click me</button>
    </div>
{% endblock %}
